html,
body,
p {
    margin: 0; padding: 0;
}

body {
    font: normal 16px/25px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; background: #FCD424;

    &.minimal {
        background: #1E824C;
    }

    &.full {
        background: #663399;
    }
}

p {
    margin: 20px;
}

#not-ios-8 {
    display: none;
}

#brim-mask,
#brim-main {
    color: #fff; pointer-events: none; display: none;
}

#brim-mask {
    background: #663399;
}

#brim-main {
    background: #1E824C;
}